{% extends 'learning_log_app/base.html' %}
{% block title %}笔记管理 - Learning Log{% endblock %}

{% block content %}
<div class="content">
    <h1>笔记管理</h1>
    <a href="#" class="btn btn-primary">添加新笔记</a>
    <ul class="list-group">
        {% for entry in entrys %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ entry.title }}
                <div>
                    <a href="{% url 'learning_log_app:edit_entry' entry.id %}" class="btn btn-secondary btn-sm">编辑</a>
                    <a href="#" class="btn btn-danger btn-sm">删除</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">还没有笔记。</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}