{% extends 'learning_log_app/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">
                            <i class="bi bi-person-circle me-2"></i>
                            用户信息
                        </h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">用户名</dt>
                            <dd class="col-sm-9">{{ user.username }}</dd>

                            <dt class="col-sm-3">用户角色</dt>
                            <dd class="col-sm-9">
                                {% if user.is_superuser %}
                                    <span class="badge bg-success">管理员</span>
                                {% else %}
                                    <span class="badge bg-secondary">普通用户</span>
                                {% endif %}
                            </dd>
                        </dl>

                        <div class="admin-actions mt-3">
                            <h5>管理功能</h5>
                            {% if request.user.is_superuser %}
                                <a href="{% url 'learning_log_app:manage_user' %}" class="btn btn-primary btn-sm mb-2 w-100">
                                    <i class="bi bi-graph-up"></i> 用户管理
                                </a>
                                              {% endif %}
                                <a href="{% url 'learning_log_app:manage_topics' %}" class="btn btn-info btn-sm mb-2 w-100">
                                    <i class="bi bi-chat-left-text"></i> 主题管理
                                </a>
                                <a href="{% url 'learning_log_app:manage_notes' %}" class="btn btn-success btn-sm mb-2 w-100">
                                    <i class="bi bi-box-seam"></i> 笔记管理
                                </a>


                        </div>


                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <form method="post" action="{% url 'learning_log_app:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-box-arrow-right me-2"></i>
                                    退出登录
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}